# Convert Jupyter Notebooks to markdown and test frontmatter using existing tests in couchbase-tutorials repo
name: Test Frontmatter

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/**.ipynb'
      - '**/**.md'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Convert notebooks to markdown
        run: |
          cd util/convert
          pip install -r requirements.txt
          python convert.py

      - name: Checkout couchbase-tutorials
        uses: actions/checkout@v4
        with:
          repository: couchbase-examples/couchbase-tutorials
          ssh-key: ${{ secrets.TUTORIAL_SSH_KEY }}
          path: couchbase-tutorials

      - name: Copy converted files
        run: |
          rsync -av --checksum --include="*.md" --exclude="*" util/convert/output_md/ couchbase-tutorials/tutorial/markdown/generated/vector-search-cookbook

      - name: Test frontmatter for converted files
        working-directory: couchbase-tutorials
        run: |
          npm ci
          npm run test:frontmatter

      - name: Clear output files
        run: |
          cd util/convert
          rm -r output_md
